* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('./img/header.jpg');
    background-repeat: repeat-x;
    background-size: 70%;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.container.white {
    background-color: #fff;
}

ul.list {
    list-style-type: none;
    display: flex;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
}

ul.list::before {
    content: '';
    background-color: rgb(63, 173, 236);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

ul.list li {
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    position: relative;
}

ul.list li::before {
    content: '';
    width: 30px;
    height: 27px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
    transform: translateY(5px);
}

ul.list li:nth-child(1)::before {
    background-image: url('./img/ico4.png');
}

ul.list li:nth-child(2)::before {
    background-image: url('./img/ico2.png');
}

ul.list li:nth-child(3)::before {
    background-image: url('./img/ico3.png');
}

ul.list li:not(:last-child)::after {
    content: '';
    width: 1px;
    display: inline-block;
    height: 27px;
    background-color: #fff;
    position: absolute;
    right: 0;
}

.flex {
    display: flex;
}

section.border {
    border-bottom: 1px solid #ededed;
}

.split-half {
    flex: 1;
    /* proporcja */
    justify-content: center;
    color: #000000;
    font-size: 12px;
    height: 58px;
}

.split-half:last-child {
    text-align: right;
    
}

.logo {
    height: 160px;
    text-align: center;
    border-bottom: 1px solid #ededed;

}

ul.category {
    display: flex;
    list-style-type: none;
    align-items: center;
    border-bottom: 1px solid #ededed;
}

ul.category li
{
    flex: 1;
    text-align: center;
    height: 60px;
}
    

.cat {
    text-decoration: none; 
    color: black;
    font-size: 13px;
    text-transform: uppercase;

}

ul.category li:hover {
    background-color: chocolate;
}

    